<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml 은 어떤 interface 를 참조해서 사용해야 하는가 -->
<mapper namespace="king.jeong.hoon.member.dao.MemberDAO">
	
	<select id="overlay" resultType="Integer">
		SELECT COUNT(id) FROM member WHERE id = #{param1}
	</select>
	
	<insert id="join" parameterType="Map">
		INSERT INTO member(id, pw, name, age, gender, email)
			VALUES(#{id},#{pw},#{name},#{age},#{gender},#{email})
	</insert>
	
	<select id="login" resultType="String">
		SELECT id FROM member WHERE id = #{param1} AND pw = #{param2}
	</select>
</mapper>