<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml 은 어떤 interface 를 참조해서 사용해야 하는가 -->
<mapper namespace="king.jeong.hoon.board.dao.BoardDAO">
	<select id="list" resultType="king.jeong.hoon.board.dto.BoardDTO">
		SELECT 
			(select count(new_filename) 
			from photo 
			where idx= b.idx) as img_cnt,
			b.idx,
			b.subject,
			b.user_name,
			b.bHit,
			b.reg_date
		FROM bbs b ORDER BY idx desc limit #{param1} OFFSET #{param2}	
	</select>
	
	<select id="allCount" resultType="Integer">
		SELECT CEIL(COUNT(idx)/#{param1}) AS pages FROM bbs 
	</select>
	
	
</mapper>